<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% stylesheets '@AppBundle/Resources/public/css/*' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <title>uGovern - {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                uGovern - 2015</a>
            {% endblock %}
        </div>
    </body>
</html>